* {
  box-sizing: border-box;
}

details {
  font-size: 1.2rem;
}
details summary {
  font-size: 1.7rem;
}

.row-main {
  display: flex;
  flex-wrap: wrap;
}

.column-main {
  flex: 50%;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
  .column-main {
    flex: 100%;
  }
  .column {
    flex: 100%;
  }
}

img {
  opacity: 0.6;
  transition: all 0.1s linear;
}
img:hover {
  opacity: 1;
}
